{% load static %}
{% load categorytags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{% static 'blogsushi/css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'blogsushi/css/bootstrap.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Главная страница</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% for m in menu %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url m.url_name %}">{{ m.name }}</a>
        </li>

      </ul>
    </div>
     {% endfor %}
      {% if request.user.is_authenticated %}
          <li class="nav-item"> {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
          {% else %}
          <li class="nav-item"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
          {% endif %}
  </div>
</nav>
<div class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
                {% else %}
                <li><a href="{% url 'home' %}">Все категории</a></li>
                {% endif %}
               {% show_categories cat_selected=cat_selected%}
            </ul>
        </div>
        <div class="col-8">
            {% block content %}
            {% endblock %}
        {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page.obj.previous_page_number }}">&lt;</a></li>
            {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p  %}
                        <li>{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="paginator">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"> > </a></li>
            {% endif %}
            </ul>
        </nav>
        {% endif %}
        </div>
    </div>
</div>
</body>
</html>